.card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
   }
  .card:hover{transform:scale3d(1.03, 1.03, 1.08) translate3d(0.1rem, -0.25rem, 20rem);
    box-shadow: 1px 1px 30px 10px rgba(40, 39, 39, 0.25);;
    
}

